<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %>
    <small>(It is recommended that your real name is used for credibility)</small>
    <%= f.text_field :name, autofocus: true, class: "form-control string" %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <small>(We will send you an email for confirmation.)</small>
    <%= f.email_field :email, autocomplete: "email", class: "form-control string" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <small>(Minimum of <%= @minimum_password_length %> characters.)</small>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control string" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control string" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
