<h4>Hello, <%= current_user.name %></h4>

<div style="margin: 15px 0px 20px 0px">
  <%= link_to 'Update my account', edit_user_registration_path, class: "btn btn-info btn-sm" %>
</div>

<div class="card">
  <div class="card-header">
    EDUCATION
    <%= link_to 'Add new education', new_education_path, class: "btn btn-primary btn-sm float-right" %>
  </div>
  <div class="card-body">

    <% @educations.each do |education| %>

    <div class="btn-group" role="group" aria-label="control-buttons">
      <%= link_to 'Edit', edit_education_path(education), class: "btn btn-warning btn-sm" %>
      <%= link_to 'Remove', education, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
    </div>

        <div><%= education.institution %>, <%= education.location %></div>
        <div><%= education.certificate %></div>
        
        <div style="margin: 0 0 3% 0"><small><%= education.from %> - <%= education.to %></small></div>

    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    EXPERIENCE
    <%= link_to 'Add new experience', new_experience_path, class: "btn btn-primary btn-sm float-right" %>
  </div>
  <div class="card-body">
    <% @experiences.each do |experience| %>
        <div class="btn-group" role="group" aria-label="control-buttons">
          <%= link_to 'Edit', edit_experience_path(experience), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Remove', experience, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </div>

        <div><%= experience.organization %>, <%= experience.location %></div>
        <div><%= experience.position %></div>

        <div style="margin: 0 0 3% 0">
          <small><%= experience.from %> - <%= experience.to %></small>
        </div>

    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    JOBS
 </div>
  <div class="card-body">
    <h5>Created by me</h5>
    <ul>
    <% @user.posts.each do |post| %>
      <li><%= post.job_title %></li>
    <% end%>
    </ul>

    <h5>Bookmarked by me</h5>
  </div>
</div>
