
<%= form_with model: post do |f| %>

  <div class="form-inputs">
    <%= f.text_field :title, class: "form-control string" %>

    <%= f.label :image, class: 'form-control' %>
    <%= f.file_field :image %>
    <%= f.rich_text_area :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
