<section>
  <% @posts.each do |post| %>
      <div class="card" style="margin: 7px 0 7px 0">
        <div class="card-body">
        <div style="font-size: .9rem">
          <%= @categories.find(post.category_id).name %>
        </div>
 
          <h4 class="card-title" style="margin-top: 5px">
            <%= link_to post.job_title, post %>
          </h4>
          
          <h5 class="card-text" style="font-size: .9rem; margin-top: 20px"><%= post.company_name %></h5>
          <h6><%= post.location %></h6>

          <div style="margin-top: 15px">
            <small>Start date: </small>
            <br />
            <small>End date: </small>
          </div>

          <% if current_user === post.user %>
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning btn-sm" %>
            <%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          <% end %>
          
          <small><%= time_ago_in_words(post.created_at) %> ago</small>
        </div>
      </div>
 <% end %>
</section>