<p id="notice"><%= notice %></p>

<ul class="list-group list-group-flush">
  <% @posts.each do |post| %>
    <li class="list-group-item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to 'Show details', post, class: "btn btn-dark btn-sm" %>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          <%= pluralize(post.views, "view") %>
        </div>
      </div>
    </li>
 <% end %>
</ul>




