<!DOCTYPE html>
<html>
  <head>
    <title>Temployed - Find Temporary Jobs</title>
    <meta name="description" content="Welcome to Temployed. We hope you can find the right opportunity from various temporary job opportunities across Canada." />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container" style="margin-top: 20px">
      <div class="notice" style="margin: 15px 0; color: blue"><%= flash[:notice] %></div>
      <%= yield %>
    </div>
  </body>
</html>
